li(id='todo-' + todo.id, class={completed: todo.done === true})
  .view
    input.toggle(hx-patch='/todos/' + todo.id, type='checkbox', checked=todo.done, hx-target='#todo-' + todo.id)
    label= todo.name
    button.destroy(hx-delete='/todos/' + todo.id, _="on htmx:afterOnLoad remove #todo-" + todo.id )
  input.edit(value=todo.name)

